body {
    background-image: url(../images/bg1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 700px;
    text-align: center;
}
.container h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fcc06d;
}
.container h3 {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #333;
}
.container input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 2px solid #fcc06d;
    font-size: 1.2rem;
    text-align: center;
}
.container button {
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #fcc06d;
    font-size: 1.4rem;
}
.container button:hover {
    background-color: #e6a64a;
}
.result {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #333;
    line-height: 30px;
}