@charset "UTF-8";
body {
  margin-top: 135px;
}
body main {
  width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}
body main .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body main .container .overview_img {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
body main .container .overview_img .thumnail a img {
  width: 80px;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 20px;
}
body main .container .overview_img .overview img {
  width: 640px;
  height: 640px;
}
body main .container .overview_img .overview .nxtpage_link {
  position: absolute;
  left: 55%;
  bottom: 20px;
  transform: translateX(-50%); /* 가운데 정렬 */
}
body main .container .contents {
  background-color: aquamarine;
  justify-content: right;
  height: 640px;
  width: 540px;
  padding-left: 80px;
}
body main .container .contents .score img {
  width: 12px;
  height: 12px;
}
body main .container .contents .score .star {
  color: #3a4046;
  font-size: 0.75rem;
}
body main .container .contents .score a {
  display: inline-block;
  color: #707070;
  font-size: 0.75rem;
  border-bottom: 1px solid #707070;
  margin-bottom: 2px;
}
body main .container .contents .product_detail h1 {
  display: block;
  font-size: 1.875rem;
  line-height: 130%;
  font-weight: 700;
  letter-spacing: -2.5px;
}
body main .container .contents .product_detail .shampoo {
  display: block;
  padding-top: 6px;
  padding-bottom: 30px;
  color: #666;
  font-size: 0.938rem;
}
body main .container .contents .notice .price_information {
  display: inline-block;
  margin-bottom: 15px;
}
body main .container .contents .notice .price_information .price1 em {
  color: #008A48;
  font-size: 1.875rem;
  font-weight: 700;
}
body main .container .contents .notice .price_information del {
  font-size: 1.125rem;
  color: #999;
}
body main .container .contents .notice .benefit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}
body main .container .contents .notice .benefit .maximum_benefit {
  display: block;
  margin-right: 10px;
  font-size: 0.938rem;
  color: #666;
}
body main .container .contents .notice .benefit .line {
  margin-right: 10px;
  display: block;
  font-size: 0.625rem;
  color: #666;
}
body main .container .contents .notice .benefit .price2 em {
  display: block;
  font-size: 1.25rem;
  color: #E63D3D;
  font-weight: 600;
}
body main .container .contents .notice .free {
  display: inline-block;
  font-size: 0.813rem;
  color: #999;
  margin-bottom: 25px;
}
body main .container .contents #orderFrm .order_list .num_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
body main .container .contents #orderFrm .order_list .num_price .quantity {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1rem;
  color: #353535;
}
body main .container .contents #orderFrm .order_list .num_price .num {
  border: 1px solid #D9D9D9;
  background-color: #fff;
}
body main .container .contents #orderFrm .order_list .num_price .num #minus_btn {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
body main .container .contents #orderFrm .order_list .num_price .num #order_num {
  width: 30px;
  height: 30px;
}
body main .container .contents #orderFrm .order_list .num_price .num #plus_btn {
  background-color: #fff;
  width: 30px;
  height: 30px;
}
body main .container .contents #orderFrm .order_list .order_price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 35px;
}
body main .container .contents #orderFrm .order_list .order_price h2 {
  justify-content: left;
  font-size: 1.063rem;
  color: #595959;
  font-weight: 600;
  margin-right: 247px;
}
body main .container .contents #orderFrm .order_list .order_price .price1 em {
  color: #008A48;
  font-size: 1.875rem;
  font-weight: 700;
}
body main .container .contents #orderFrm .order_list .order_price .price2 {
  padding-top: 15px;
  font-size: 0.875rem;
  color: #595959;
}
body main .container .contents #orderFrm .order_list .order_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body main .container .contents #orderFrm .order_list .order_btn #cart_btn {
  margin-right: 15px;
  width: 192px;
  height: 53px;
  background-color: #fff;
  font-size: 1.063rem;
  color: #008A48;
  border: 1px solid #008A48;
}
body main .container .contents #orderFrm .order_list .order_btn #buy_btn {
  margin-right: 15px;
  width: 192px;
  height: 53px;
  background-color: #008A48;
  font-size: 1.063rem;
  color: #fff;
  font-weight: 600;
}
body main .container .contents #orderFrm .order_list .order_btn #gift_btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  align-items: center;
  background-color: #E63D3D;
}
body main .container .contents #orderFrm .order_list .order_btn #gift_btn svg {
  width: 30px;
  height: 30px;
}
body main .container .contents #orderFrm .order_list .order_btn #gift_btn .gift {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
